.about {
  font-size: 20px;
  background-color: var(--paper);
  border: var(--border);
  border-radius: 10px;
  flex: 0 0 auto;
  padding: 10px 30px 10px 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}
