.hits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hits-empty {
  background-color: var(--paper);
  border-radius: 10px;
  border: var(--border);
  margin: 6px;
  padding: 30px;
}

.hit {
  background-color: var(--paper);
  padding: 6px 6px 20px 6px;
  margin: 6px;
  border-radius: 10px;
  width: 180px;
  max-width: 500px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border: var(--border);
}

.hit-image {
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 500px) {
  .hit-image {
    height: 180px;
  }
}

.hit-section {
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 34px;
}

.hit-section .fas,
.hit-section .far,
.hit-section .fab {
  position: absolute;
  left: 5px;
  top: 5px;
}

@media only screen and (min-width: 500px) {
  .hit-section {
    font-size: 14px;
    padding-left: 20px;
  }
  .hit-link {
    font-size: 14px;
    padding-left: 20px;
  }
  .hit-section .fas,
  .hit-section .far,
  .hit-section .fab {
    left: 0px;
  }
}
