html {
  background-image: url("https://images.metmuseum.org/CRDImages/as/original/DP121475.jpg");
  background-size: 300%;
  color: #626365;
  background-position: -200px -200px;
  font-family: "Roboto Slab", serif;
}

@media only screen and (min-width: 700px) {
  html {
    background-size: 120%;
    background-position: center -300px;
  }
}

body {
  margin: 0;
}

.app {
  max-width: 1300px;
  padding: 12px;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .app {
    padding: 30px;
  }
}

.header {
  font-size: 20px;
  background-color: #f2dabe;
  border: 2px solid #d88a76;
  flex: 0 0 auto;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}

.page-title {
  font-size: 20px;
}

@media only screen and (min-width: 700px) {
  .page-title {
    font-size: 40px;
  }
}

.main {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  background-color: #f2dabe;
  border: 2px solid #d88a76;
  width: 300px;
  flex: 0 0 auto;
  border-radius: 10px;
  margin-right: 8px;
  margin-left: 5px;
  padding: 8px;
  flex-direction: column;
  display: none;
}

@media only screen and (min-width: 700px) {
  .sidebar {
    display: flex;
  }
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.sidebar-divider {
  height: 2px;
  background-color: #626365;
  margin: 10px;
}

.ais-RefinementList-showMore {
  outline: none;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  align-self: center;
  position: relative;
}

.right {
  flex: 1 1 auto;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2dabe;
  border: 2px solid #d88a76;
  border-radius: 10px;
  padding: 8px;
  margin: 0 5px 5px 5px;
  position: relative;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 10px;
}

.main-search {
  position: relative;
  width: 100%;
}

.main-search .ais-SearchBox-form {
  width: 100%;
  position: relative;
}

.main-search .ais-SearchBox-input {
  width: 100%;
  height: 38px;
  font-size: 20px;
  padding: 10px;
  position: relative;
}

.main-search .ais-SearchBox-form::after {
  content: "";
  background: url("./algolia.svg");
  display: block;
  right: 6px;
  top: 12px;
  width: 120px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.ais-Stats {
  display: none;
  flex: 0 0 auto;
  padding-left: 10px;
}

@media only screen and (min-width: 900px) {
  .main-search .ais-SearchBox-form {
    max-width: 400px;
  }
  .ais-Stats {
    display: block;
  }
}

.sidebar .ais-SearchBox-input {
  height: 24px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 6px;
}

.pagination {
  background-color: #f2dabe;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 5px 20px 5px;
  border: 2px solid #d88a76;
}

.ais-Pagination-item {
  padding: 4px;
}

.ais-Pagination-item a {
  font-size: 20px;
  color: #626365;
  text-decoration: none;
}

.ais-Pagination-item.ais-Pagination-item--selected a {
  color: #657b81;
  text-decoration: underline;
}
