.hits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hit {
  background-color: #f2dabe;
  padding: 6px;
  margin: 6px;
  border-radius: 10px;
  width: 180px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.hit-image {
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
}
