.hits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hit {
  background-color: var(--paper);
  padding: 6px 6px 20px 6px;
  margin: 6px;
  border-radius: 10px;
  width: 180px;
  max-width: 500px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border: var(--border);
}

.hit-image {
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 500px) {
  .hit-image {
    height: 180px;
  }
}

.hit-section {
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 34px;
}

.fas,
.far {
  position: absolute;
  left: 5px;
  top: 5px;
}

.hit-link {
  text-decoration: none;
  color: var(--font);
  font-size: 20px;
  position: relative;
  padding-left: 34px;
}

.hit-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 500px) {
  .hit-section {
    font-size: 14px;
    padding-left: 20px;
  }
  .hit-link {
    font-size: 14px;
    padding-left: 20px;
  }
  .fas,
  .far {
    left: 0px;
  }
}
