.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-Pagination-item {
  padding: 4px;
}

.ais-Pagination-item a {
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.ais-Pagination-item.ais-Pagination-item--selected a {
  color: black;
  text-decoration: underline;
}
