html {
  /* background-image: url("https://images.metmuseum.org/CRDImages/as/original/DP132830.jpg"); */
  background-image: url("https://images.metmuseum.org/CRDImages/as/original/DP121475.jpg");
  background-size: 130%;
  background-position: center -300px;
  font-family: "Roboto Slab", serif;
}

.main-search .ais-SearchBox {
  width: 400px;
}

.ais-SearchBox-input {
  height: 38px;
  line-height: 20px;
  font-size: 20px;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-Pagination-item {
  padding: 4px;
}

.ais-Pagination-item a {
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.ais-Pagination-item.ais-Pagination-item--selected a {
  color: black;
  text-decoration: underline;
}
